{% extends 'base.html.twig' %}

{% block tiles %}
  <!-- top tiles -->
  <div class="row tile_count">
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> Total Users</span>
        <div class="count">{{ users|length }}</div>
        <span class="count_bottom"><i class="green">4% </i> {{"now"|date("m/d/Y") }}</span>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> Total Clients</span>
        <div class="count">{{ clients|length }}</div>
        <span class="count_bottom"><i class="green">4% </i> {{"now"|date("m/d/Y") }}</span>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> Total Conversion</span>
        {% set cumPoint  = 0 %}
        {% for op in operations %}
          {% set cumPoint = cumPoint + op.value %}
        {% endfor %}
        <div class="count green">{{cumPoint}} Pts</div>
        <span class="count_bottom">
          {# pourcentage de conversion ou taut de conversion #}
          {% set cumulConversion  = 0 %}
          {% for scan in scans %}
            {% set cumulConversion = cumulConversion + (scan.qt * scan.qrValue ) %}
          {% endfor %}
          {% set totConervesion = ((cumPoint / cumulConversion ) * 100)|round(1, 'floor') %}
          <i class="green"><i class="fa fa-sort-asc"></i>{{ totConervesion  }} % </i> 
          {{"now"|date("m/d/Y") }}
        </span>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> Total de Générations</span>     
        <div class="count">{{cumulConversion}} Pts</div>
        <span class="count_bottom"><i class="red"><i class="fa fa-sort-desc"></i>{{ totConervesion  }}  %</i> {{"now"|date("m/d/Y") }}</span>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> Taux de conversion</span>
        <div class="count">{{ totConervesion  }}  %</div>
        <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>4% </i> From last Week</span>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> Total validé</span>
        {% set cumPointValide  = 0 %}
        {% for op in operations %}
          {% if op.etatValidation %}
            {% set cumPointValide = cumPointValide + op.value %}
          {% endif %}
        {% endfor %}        
        <div class="count">{{cumPointValide }}</div>
        <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> From last Week</span>
      </div>
  </div>
  <!-- /top tiles -->
{% endblock %}

{% block body %}


        <div class="row">


            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="x_panel">
                <div class="x_title">
                  <h2>Activitées récentes <small>Sessions</small></h2>
                  <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Settings 1</a>
                        </li>
                        <li><a href="#">Settings 2</a>
                        </li>
                      </ul>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                  </ul>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <div class="dashboard-widget-content">

                    <ul class="list-unstyled timeline widget">
                    {% for operation in operations %}
                      
                      <li>
                        
                        <div class="block">
                          <div class="block_content">
                            <h2 class="title">
                              <a>Scan Opération</a>
                            </h2>
                            <div class="byline">
                              {% set myClient = operation.clientId %}

                              {% if myClient != null %}
                                <span>
                                  {{  operation.createdTime }} 
                                </span> 
                                by 
                                <a href="{{ path('client_show',{ 'id': myClient.id }) }}">
                                  {{ myClient.contactadmin }}
                                </a>
                              {% else %}
                                <span>
                                  {{  operation.createdTime }} 
                                </span> 
                                by 
                                <a href="">
                                  --
                                </a>                              
                              {% endif %}
                            
                            </div>
                            <p class="excerpt">Point ajoutés <bold style="font-weight: 800;color: black;">{{operation.value}} Pts</bold>  via {{operation.fromDevice}} <a>... Détail</a>
                            </p>
                          </div>
                        </div>

                      </li>
                    {% endfor%}
                    {% for scan in scans %}
                      
                      <li>
                        
                        <div class="block">
                          <div class="block_content">
                            <h2 class="title">
                              <a>Génération de coupons</a>
                            </h2>
                            <div class="byline">
                              {% set myClient = scan.clientId %}

                              {% if myClient != null %}
                                <span>
                                  {% if scan.createdTime %}{{ scan.createdTime|date("m/d/Y") }}{% endif %}
                                </span> 
                                by 
                                <a href="{{ path('client_show',{ 'id': myClient.id }) }}">
                                  {{ myClient.contactadmin }}
                                </a>
                              {% else %}
                                <span>
                                  {% if scan.createdTime %}{{ scan.createdTime|date("m/d/Y") }}{% endif %}
                                </span> 
                                by 
                                <a href="">
                                  --
                                </a>                              
                              {% endif %}
                            
                            </div>
                            <p class="excerpt">Coupons généré  de valeur<bold style="font-weight: 800;color: black;">{{scan.score}} Pts</bold>  avec une quantité de  {{scan.qt}} <a>... Détail</a>
                            </p>
                          </div>
                        </div>

                      </li>
                    {% endfor%}

                    </ul>
                  </div>
                </div>
              </div>
            </div>


            <div class="col-md-8 col-sm-8 col-xs-12">



              <div class="row">

                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="x_panel">
                    <div class="x_title">
                      <h2>Opération de scan périodique<small> Presentation</small></h2>
                      <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                          <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Settings 1</a>
                            </li>
                            <li><a href="#">Settings 2</a>
                            </li>
                          </ul>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                      </ul>
                      <div class="clearfix"></div>
                    </div>
                    <div class="x_content">

                      <div class="demo-container" style="height:250px">
                      
                        <div class="demo-placeholder" id="chart_plot_scoring"></div>
                      
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <div class="row">


                <!-- Start to do list -->
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="x_panel">
                    <div class="x_title">
                      <h4>List des opération à valider <small> Tầches à faire</small></h4>
                      <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                          <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Settings 1</a>
                            </li>
                            <li><a href="#">Settings 2</a>
                            </li>
                          </ul>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                      </ul>
                      <div class="clearfix"></div>
                    </div>
                    <div class="x_content">

                      <div class="">
                        <ul class="to_do">
                          {% for op in operations %}
                            {% if op.etatValidation == false %}
                              {% set myClient = op.clientId %}
                              {% if myClient != null %}
                                <li>
                                  <p>
                                    <input type="checkbox" class="flat" ><img src="{{ asset('uploads/images/clients/'~myClient.picture) }}" class="avatar" alt="Avatar" style="float: inherit;margin: 0 19px;">  : {{ myClient.contactadmin }} -  {{ op.value}} Pts
                                    <br/>
                                    {{ myClient.compteclient }}  - en Attente</p>
                                </li>

                              {% else  %} 
                                <li>
                                  <p>
                                    <input type="checkbox" class="flat" ><img src="{{ asset('images/user.png') }}" class="avatar" alt="Avatar" style="float: inherit;margin: 0 19px;">  : ## -  {{ op.value}} Pts
                                    <br/>
                                    ##  - en Attente</p>
                                </li>                                
                              {% endif  %} 
                            {% endif  %}                                                    
                          {% endfor  %}                                                    
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End to do list -->
                
                <!-- start of weather widget -->
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="x_panel">
                    <div class="x_title">
                      <h2>Daily active users <small>Sessions</small></h2>
                      <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                          <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Settings 1</a>
                            </li>
                            <li><a href="#">Settings 2</a>
                            </li>
                          </ul>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                      </ul>
                      <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                      <div class="row">
                        <div class="col-sm-12">
                          <div class="temperature"><b>Monday</b>, 07:30 AM
                            <span>F</span>
                            <span><b>C</b></span>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-4">
                          <div class="weather-icon">
                            <canvas height="84" width="84" id="partly-cloudy-day"></canvas>
                          </div>
                        </div>
                        <div class="col-sm-8">
                          <div class="weather-text">
                            <h2>Texas <br><i>Partly Cloudy Day</i></h2>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-12">
                        <div class="weather-text pull-right">
                          <h3 class="degrees">23</h3>
                        </div>
                      </div>

                      <div class="clearfix"></div>

                      <div class="row weather-days">
                        <div class="col-sm-2">
                          <div class="daily-weather">
                            <h2 class="day">Mon</h2>
                            <h3 class="degrees">25</h3>
                            <canvas id="clear-day" width="32" height="32"></canvas>
                            <h5>15 <i>km/h</i></h5>
                          </div>
                        </div>
                        <div class="col-sm-2">
                          <div class="daily-weather">
                            <h2 class="day">Tue</h2>
                            <h3 class="degrees">25</h3>
                            <canvas height="32" width="32" id="rain"></canvas>
                            <h5>12 <i>km/h</i></h5>
                          </div>
                        </div>
                        <div class="col-sm-2">
                          <div class="daily-weather">
                            <h2 class="day">Wed</h2>
                            <h3 class="degrees">27</h3>
                            <canvas height="32" width="32" id="snow"></canvas>
                            <h5>14 <i>km/h</i></h5>
                          </div>
                        </div>
                        <div class="col-sm-2">
                          <div class="daily-weather">
                            <h2 class="day">Thu</h2>
                            <h3 class="degrees">28</h3>
                            <canvas height="32" width="32" id="sleet"></canvas>
                            <h5>15 <i>km/h</i></h5>
                          </div>
                        </div>
                        <div class="col-sm-2">
                          <div class="daily-weather">
                            <h2 class="day">Fri</h2>
                            <h3 class="degrees">28</h3>
                            <canvas height="32" width="32" id="wind"></canvas>
                            <h5>11 <i>km/h</i></h5>
                          </div>
                        </div>
                        <div class="col-sm-2">
                          <div class="daily-weather">
                            <h2 class="day">Sat</h2>
                            <h3 class="degrees">26</h3>
                            <canvas height="32" width="32" id="cloudy"></canvas>
                            <h5>10 <i>km/h</i></h5>
                          </div>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                    </div>
                  </div>

                </div>
                <!-- end of weather widget -->
              </div>
            </div>
        </div>

{% endblock %}
{% block  javascript %}
      
<script type="text/javascript">
  
    var chart_plot_03_settings = {
      series: {
        lines: {
          show: true,
          fill: true,
          lineWidth: 2,
          steps: false
        },
        points: {
          show: true,
          radius: 4.5,
          symbol: "circle",
          lineWidth: 3.0
        }
      },
      colors: ["#26B99A"],
      grid: {
        borderWidth: {
          top: 0,
          right: 0,
          bottom: 1,
          left: 1
        },
        borderColor: {
          bottom: "#7F8790",
          left: "#7F8790"
        }
      }
    };
        
    var chart_plot_03_data = [
        {% set counter = 0 %}
        {% for op in operations %}
          [ {{ counter }}, {{op.value}}],
          {% set counter = counter + 1 %}
        {% endfor  %}
    ];

    $.plot($("#chart_plot_scoring"), [{
      label: "Conversion des points",
      data: chart_plot_03_data,
      lines: {
        fillColor: "rgba(150, 202, 89, 0.12)"
      }, 
      points: {
        fillColor: "#fff"
      }
    }], chart_plot_03_settings);
</script>
      

{% endblock %}