{% extends 'base.html.twig' %}

{% block stylesheets %}
    <!-- Datatables -->
    <link href=" {{ asset('vendors/datatables.net-bs/css/dataTables.bootstrap.min.css') }} " rel="stylesheet">

{% endblock %}

{% block tiles %}{% endblock %}

{% block body %}
    <div class="">
        <div class="page-title">
          <div class="title_left">
            <h3>Génération des coupons <small>Historique </small></h3>
          </div>
        </div>
        
        <div class="clearfix"></div>
        <div class="row">
          <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Edition des Coupons</h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                      {{ form_start(form, {'method': 'POST',  'attr' : { 'class': 'form-horizontal form-label-left' } } ) }}
                      <div class="row">
                        <div class="form-group col-lg-6 col-md-6 col-xs-12 col-sm-12 ">
                            {{ form_label(form.qt ,null, {'label_attr' : { 'class': 'control-label col-md-3 col-sm-3 col-xs-12' } }) }}
                            {{ form_errors(form.qt) }}
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                {{ form_widget(form.qt, { 'attr': {'class': 'form-control '}} ) }}
                            </div>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-xs-12 col-sm-12 ">
                            {{ form_label(form.qrValue ,null, {'label_attr' : { 'class': 'control-label col-md-3 col-sm-3 col-xs-12' } }) }}
                            {{ form_errors(form.qrValue) }}
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                {{ form_widget(form.qrValue, { 'attr': {'class': 'form-control '}} ) }}
                            </div>
                        </div>                        
                      </div>
                      <div class="row">

                        <div class="form-group col-lg-12 col-md-12 col-xs-12 col-sm-12 ">
                            {{ form_label(form.identifier ,null, {'label_attr' : { 'class': 'control-label col-md-3 col-sm-3 col-xs-12' } }) }}
                            {{ form_errors(form.identifier) }}
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                {{ form_widget(form.identifier, { 'attr': {'class': 'form-control '}} ) }}
                            </div>
                        </div>
                      </div>


                        <input type="submit" value="Génerer" class=" btn btn-success" />
                    {{ form_end(form) }}

                </div>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>

        <div class="row">
          <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Liste des lots</h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <p>Table des lots génerés</p>

                    <!-- start project list -->
                    <table class="table table-striped projects dataTable" id="dt_scan">
                        <thead>
                            <tr>
                              <th style="width: 1%">#</th>
                              <th style="width: 20%">Date de création</th>
                              <th>Nombre de coupons</th>
                              <th>Valeur des coupons</th>
                              <th>Lot généré par</th>
                              <th style="width: 20%">#Edition</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for scan in scans %}

                                <tr>
                                    <td>{{ scan.id }}</td>
                                    <td>
                                        <a>{{ scan.identifier }}</a>
                                        <br />
                                        <small>
                                            {% if scan.createdTime %}{{ scan.createdTime|date('Y-m-d H:i:s') }}{% endif %}
                                        </small>
                                    </td>
                                    <td>#{{ scan.qt }}</td>
                                    <td>{{ scan.qrValue }}</td>                                      
                                    <td>
                                        {% if scan.generationTime %}{{ scan.generationTime|date('Y-m-d H:i:s') }}{% endif %}                                        
                                    </td>

                                    <td>
                                        <a href="{{ path('scan_print', { 'id': scan.id }) }}" target="_blank" class="btn btn-primary btn-xs"><i class="fa fa-print"></i> Imprimer </a>

                                        <a href="{{ path('scan_delete_on', { 'id': scan.id }) }}" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i> Supprimer </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <!-- end project list -->

                </div>
            </div>
          </div>
        </div>
    </div>


{% endblock %}

{% block javascript %}

  <!-- Datatables -->
  <script src="{{ asset('vendors/datatables.net/js/jquery.dataTables.min.js') }} "></script>
  <script src="{{ asset('vendors/datatables.net-bs/js/dataTables.bootstrap.min.js') }} "></script>

  <!-- initialize the datatable component -->
  <script type="text/javascript">
    $('#dt_scan').DataTable();
  </script>


{% endblock %}