{% extends 'base.html.twig' %}

{% block body %}
    <h1>Products list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Price</th>
                <th>Description</th>
                <th>Lieuvente</th>
                <th>Brandname</th>
                <th>Productiondate</th>
                <th>Createdtime</th>
                <th>Modifiedtime</th>
                <th>Qrvalue</th>
                <th>Qrid</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td><a href="{{ path('product_show', { 'id': product.id }) }}">{{ product.id }}</a></td>
                <td>{{ product.title }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.lieuVente }}</td>
                <td>{{ product.brandName }}</td>
                <td>{% if product.productionDate %}{{ product.productionDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if product.createdTime %}{{ product.createdTime|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if product.modifiedTime %}{{ product.modifiedTime|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ product.qrValue }}</td>
                <td>{{ product.qrId }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('product_show', { 'id': product.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('product_edit', { 'id': product.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('product_new') }}">Create a new product</a>
        </li>
    </ul>
{% endblock %}
