{% extends 'base.html.twig' %}

{% block body %}
    <h1>Product</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ product.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ product.title }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ product.price }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ product.description }}</td>
            </tr>
            <tr>
                <th>Lieuvente</th>
                <td>{{ product.lieuVente }}</td>
            </tr>
            <tr>
                <th>Brandname</th>
                <td>{{ product.brandName }}</td>
            </tr>
            <tr>
                <th>Productiondate</th>
                <td>{% if product.productionDate %}{{ product.productionDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Createdtime</th>
                <td>{% if product.createdTime %}{{ product.createdTime|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Modifiedtime</th>
                <td>{% if product.modifiedTime %}{{ product.modifiedTime|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Qrvalue</th>
                <td>{{ product.qrValue }}</td>
            </tr>
            <tr>
                <th>Qrid</th>
                <td>{{ product.qrId }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('product_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('product_edit', { 'id': product.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
