{% extends 'base.html.twig' %}

{% block stylesheets %}
    <!-- Datatables -->
    <link href=" {{ asset('vendors/datatables.net-bs/css/dataTables.bootstrap.min.css') }} " rel="stylesheet">

{% endblock %}

{% block tiles %}{% endblock %}


{% block body %}

            
            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Comptes clients</h2>
                        <ul class="nav navbar-right panel_toolbox">
                          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                          </li>
                          <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                              <li><a href="#">Settings 1</a>
                              </li>
                              <li><a href="#">Settings 2</a>
                              </li>
                            </ul>
                          </li>
                          <li><a class="close-link"><i class="fa fa-close"></i></a>
                          </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">

                        <p>Listing exhaustif de la base de données clients.</p>

                        <!-- start project list -->
                        <table class="table table-striped projects table-bordered dataTable no-footer" id="dt_client">
                            <thead>
                                <tr>
                                  <th style="width: 1%">#</th>
                                  <th style="width: 20%">Client</th>
                                  <th>Tel</th>
                                  <th>Email</th>
                                  <th>Profil</th>
                                  <th class="">Score</th>
                                  <th>Status</th>
                                  <th style="width: 20%">#Editer</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for client in clients %}

                                    <tr>
                                      <td>{{ client.compteclient }}</td>
                                      <td>
                                        <a>{{ client.displayName }}</a>
                                        <br />
                                        <small>
                                            {% if client.createdTime %}{{ client.createdTime|date('Y-m-d H:i:s') }}{% endif %}
                                        </small>
                                      </td>
                                      <td>#{{ client.tel }}</td>
                                      <td>{{ client.email }}</td>                                      
                                      <td>
                                        <ul class="list-inline">
                                          <li>
                                            <img src="{{ asset('uploads/images/clients/'~client.picture) }}" class="avatar" alt="Avatar">
                                          </li>
                                        </ul>
                                      </td>
                                      <td class=" project_progress">
                                        <div class="progress progress_sm">
                                          <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="{{ client.currentScore }}"></div>
                                        </div>
                                        <small>{{ client.currentScore }}</small>
                                      </td>
                                      <td>
                                        <button type="button" class="btn btn-success btn-xs">Actif</button>
                                      </td>
                                      <td>
                                        <a href="{{ path('client_show', { 'id': client.id }) }}" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> Voir </a>
                                        <a href="{{ path('client_edit', { 'id': client.id }) }}" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Editer </a>
                                        <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Supprimer </a>
                                      </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <!-- end project list -->

                    </div>
                </div>
              </div>
            </div>
          </div>







{% endblock %}

{% block javascript %}

  <!-- Datatables -->
  <script src="{{ asset('vendors/datatables.net/js/jquery.dataTables.min.js') }} "></script>
  <script src="{{ asset('vendors/datatables.net-bs/js/dataTables.bootstrap.min.js') }} "></script>

  <!-- initialize the datatable component -->
  <script type="text/javascript">
    $('#dt_client').DataTable();
  </script>


{% endblock %}
