{% extends 'base.html.twig' %}
{% block tiles %}{% endblock %}

{% block body %}
    <div class="page-title">
        <div class="title_left">
            <h3>Clients <small>Création </small></h3>
        </div>

        <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Go!</button>
                    </span>
                </div>
            </div>
        </div>
    </div>  
    <div class="row">
        <div class="col-md-8 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Client <small>création - <a href="{{ path('client_index') }}">Revenir à la liste</a></small></h2>

                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                <i class="fa fa-wrench"></i>
                            </a>
                        </li>
                        <li>
                            <a class="close-link">
                                <i class="fa fa-close"></i>
                            </a>
                        </li>
                    </ul>

                    <div class="clearfix"></div>                    
                </div>        
                <div class="x_content">
                    {{ form_start(form, {'method': 'POST',  'attr' : { 'class': 'form-horizontal form-label-left' } } ) }}

                        <div class="form-group">
                            {{ form_label(form.displayName ,null, {'label_attr' : { 'class': 'control-label col-md-3 col-sm-3 col-xs-12' } }) }}
                            {{ form_errors(form.displayName) }}
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                {{ form_widget(form.displayName, { 'attr': {'class': 'form-control '}} ) }}
                            </div>        
                        </div > 
                        <div class="form-group">
                            {{ form_label(form.contactadmin ,null, {'label_attr' : { 'class': 'control-label col-md-3 col-sm-3 col-xs-12' } }) }}
                            {{ form_errors(form.contactadmin) }}
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                {{ form_widget(form.contactadmin, { 'attr': {'class': 'form-control '}} ) }}
                            </div>        
                        </div >
                        <div class="form-group">
                            {{ form_label(form.compteclient ,null, {'label_attr' : { 'class': 'control-label col-md-3 col-sm-3 col-xs-12' } }) }}
                            {{ form_errors(form.compteclient) }}
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                {{ form_widget(form.compteclient, { 'attr': {'class': 'form-control '}} ) }}
                            </div>        
                        </div >     
                        <div class="form-group">
                            {{ form_label(form.tel ,null, {'label_attr' : { 'class': 'control-label col-md-3 col-sm-3 col-xs-12' } }) }}
                            {{ form_errors(form.tel) }}
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                {{ form_widget(form.tel, { 'attr': {'class': 'form-control '}} ) }}
                            </div>        
                        </div >   
                        <div class="form-group">
                            {{ form_label(form.email ,null, {'label_attr' : { 'class': 'control-label col-md-3 col-sm-3 col-xs-12' } }) }}
                            {{ form_errors(form.email) }}
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                {{ form_widget(form.email, { 'attr': {'class': 'form-control '}} ) }}
                            </div>        
                        </div >     
                        <div class="form-group">
                            {{ form_label(form.picture ,null, {'label_attr' : { 'class': 'control-label col-md-3 col-sm-3 col-xs-12' } }) }}
                            {{ form_errors(form.picture) }}
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                {{ form_widget(form.picture, { 'attr': {'class': 'file '}} ) }}
                            </div>        
                        </div >
                        
                        <hr />
                        <h2>Utilisateur </h2>

                        <div class="form-group">
                            {{ form_label(form.user.login ,null, {'label_attr' : { 'class': 'control-label col-md-3 col-sm-3 col-xs-12' } }) }}
                            {{ form_errors(form.user.login) }}
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                {{ form_widget(form.user.login, { 'attr': {'class': 'form-control '}} ) }}
                            </div>        
                        </div >    
                        <div class="form-group">
                            {{ form_label(form.user.password ,null, {'label_attr' : { 'class': 'control-label col-md-3 col-sm-3 col-xs-12' } }) }}
                            {{ form_errors(form.user.password) }}
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                {{ form_widget(form.user.password, { 'attr': {'class': 'form-control '}} ) }}
                            </div>        
                        </div >    
                        
                        <input type="submit" value="Create" class=" btn btn-success" />
                    {{ form_end(form) }}

                </div>        

            </div>        
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 profile_details">

            <div class="col-md-12 col-sm-12 col-xs-12 profile_details">
                <div class="well profile_view">
                    <div class="col-sm-12">
                        <h4 class="brief"><i>Génération des accès</i></h4>
                        <div class="left col-xs-12">

                            <p><i class="fa fa-info-circle"></i>   Pour générer les accès pour un utilisateur, il suffit d'entrer l'email dans la création de client et ensuite passer à la génération sans encore valider le client. Afin d'affecter un nom d'utilisateur et password à ce client.</p>
                            <br />
                            <div class="form-horizontal form-label-left input_mask">
                                <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                                    <input type="email" class="form-control has-feedback-right" id="_generated-email" placeholder="Email" disabled>
                                    <span class="fa fa-user form-control-feedback " aria-hidden="true"></span>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                                    <input type="password" id="_generated-password" class="form-control has-feedback-right"  placeholder="Mot de passe" disabled>
                                    <span class="fa fa-lock form-control-feedback " aria-hidden="true"></span>
                                </div>  
                                <button id="_generated-password-change" >
                                    <span class="fa fa-eye-slash"></span>
                                </button>                                 
                            </div>
                        </div>
                      </div>
                    <div class="col-xs-12 bottom text-right">
                        <button type="button" class="btn btn-primary btn-xs" id="_to-generate-pass" data-size="32" data-character-set="a-z,A-Z,0-9,#">
                            <i class="fa fa-user"> </i> Générer un password
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}

